<div class="ivy-tabs-tabpanel {{this.active}}" aria-hidden={{this.ariaHidden}} aria-labelledby={{this.ariaLabelledby}} role={{this.ariaRole}} tabindex={{if this.isSelected "0"}} id={{this.elementId}} ...attributes>
  {{yield}}
</div>