<div class="container">
  <div class="page-header">
    <h1>ivy-tabs</h1>
  </div>
  <hr>

  <div class="row">
    <div class="col-sm-9">
      {{outlet}}
    </div>
    <div class="col-sm-3">
      <nav class="list-group">
        <LinkTo @route="index" class="list-group-item list-group-item-action">Basic Example</LinkTo>
        <LinkTo @route="query-params" class="list-group-item list-group-item-action">Query Parameters Example</LinkTo>
        <LinkTo @route="dynamic-tabs" class="list-group-item list-group-item-action">Dynamic Tabs Example</LinkTo>
        <LinkTo @route="routable-tabs" class="list-group-item list-group-item-action">Routable Tabs Example</LinkTo>
      </nav>
    </div>
  </div>

  <hr>
  <p>
    Version <a href="https://github.com/IvyApp/ivy-tabs/releases/tag/v{{app-version hideSha=true}}">{{app-version hideSha=true}}</a>
    (<a href="https://github.com/IvyApp/ivy-tabs/commit/{{app-version hideVersion=true}}">{{app-version hideVersion=true}})</a>.
    View source on <a href="https://github.com/IvyApp/ivy-tabs">GitHub</a>.
  </p>
</div>
