<h2>Dynamic Tabs Example</h2>

<p>Here's an example of using <code>ivy-tabs</code> with a dynamic collection of objects. Try clicking the "Add an Item" button below to add a tab. To remove one, click the <strong>&times;</strong> to the left of the tab's name or select its corresponding checkbox and click the "Remove Items" button.</p>

<div class="example">
  {{#ivy-tabs selection=selection as |tabs|}}
    {{#tabs.tablist aria-label="Example Tabs" class="nav nav-tabs" id="dynamic-tablist" tagName="ul" as |tablist|}}
      {{#each model as |item|}}
        <li class="nav-item {{if (eq selection item.index) "active"}}">
          {{#tablist.tab item.index class="nav-link" on-select=(action (mut selection))}}
            <button aria-label="Close" class="close" type="button" {{action "removeItem" item}}>
              <span aria-hidden="true">&times;</span>
            </button>

            Item {{item.index}}
          {{/tablist.tab}}
        </li>
      {{/each}}
    {{/tabs.tablist}}

    <div class="tab-content">
      {{#each model as |item|}}
        {{#tabs.tabpanel item.index class="tab-pane"}}
          <p>Here is some content for Item {{item.index}}. Kale chips marfa next level hella hot chicken. Post-ironic snackwave dreamcatcher lyft, hot chicken brunch roof party small batch quinoa migas ugh. Live-edge beard leggings affogato, marfa yr brooklyn. Jean shorts artisan cred schlitz gluten-free pour-over distillery sriracha portland iceland, normcore kombucha roof party. Gentrify truffaut hot chicken air plant, hashtag la croix photo booth kogi live-edge. Bitters kogi subway tile tousled offal bushwick narwhal fam. Cray salvia poutine, jianbing ethical hot chicken whatever VHS.</p>
        {{/tabs.tabpanel}}
      {{/each}}
    </div>
  {{/ivy-tabs}}

  <button class="btn btn-primary" type="button" {{action "addItem"}}>
    Add an Item
  </button>

  <button class="btn btn-secondary" disabled={{noCheckedItems}} type="button" {{action "removeSelected"}}>
    Remove {{checkedItems.length}} Item(s)
  </button>

  <ul class="list-unstyled">
    {{#each model as |item|}}
      <li>
        <div class="checkbox">
          <label>
            {{input checked=item.checked type="checkbox"}} Item {{item.index}}
          </label>
        </div>
      </li>
    {{/each}}
  </ul>
</div>
