<h2>Routable Tab Example</h2>

<p>Create a set of tabs that can be accessed via url directly, and are part of the application routes.</p>

<div class="example">
    <IvyTabs @selection={{this.currentTab}} as |tabs|>
    <tabs.tablist @aria-label="Example Tabs" @class="nav nav-tabs" @tagName="ul" as |tablist|>
      <li class="nav-item {{if (eq this.selection "tab-a") "active"}}">
        {{#tablist.tab "tab-a" fixedHref=(url-for 'routable-tabs.tab-a') class="nav-link" on-select=(action "switchToTab" "tab-a")}}Tab A{{/tablist.tab}}
      </li>
      <li class="nav-item {{if (eq this.selection "tab-b") "active"}}">
        {{#tablist.tab "tab-b" fixedHref=(url-for 'routable-tabs.tab-b') class="nav-link" on-select=(action "switchToTab" "tab-b")}}Tab B{{/tablist.tab}}
      </li>
      <li class="nav-item {{if (eq this.selection "tab-c") "active"}}">
        {{#tablist.tab "tab-c" fixedHref=(url-for 'routable-tabs.tab-c') class="nav-link"  on-select=(action "switchToTab" "tab-c")}}Tab C{{/tablist.tab}}
      </li>
    </tabs.tablist>

    <div class="tab-content">
      {{#tabs.tabpanel "tab-a" class="tab-pane"}}
        {{#if (eq this.currentTab 'tab-a')}}
          {{outlet}}
        {{/if}}
      {{/tabs.tabpanel}}

      {{#tabs.tabpanel "tab-b" class="tab-pane"}}
        {{#if (eq this.currentTab 'tab-b')}}
          {{outlet}}
        {{/if}}
      {{/tabs.tabpanel}}

      {{#tabs.tabpanel "tab-c" class="tab-pane"}}
        {{#if (eq this.currentTab 'tab-c')}}
          {{outlet}}
        {{/if}}
      {{/tabs.tabpanel}}
    </div>
  </IvyTabs>
</div>
